@model CustomerModel
@{
    ViewData["Title"] = "Customer";
}

<h2>@ViewData["Title"]</h2>
<table class="table table-bordered table-hover">
    <tr>
        <th>Name</th>
        <th>Total Cars</th>
        <th>Total Spend Money</th>
    </tr>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.TotalCars</td>
        <td>$@Model.MoneySpend</td>
    </tr>
</table>

