@{
    ViewData["Title"] = "Home Page";
}

<div class="col-lg-12"><div class="col-lg-6">
        <div class="jumbotron">
            <h1 class="display-4">Cameras</h1>
            <p class="lead">We are the world’s only full-service destination for photo, video and electronics. We’re more than a <a href="/cameras/all">camera store</a> - we offer the best selection and prices on professional photography and video gear, pro-audio, and consumer electronics such as home theaters, mobile computing, home office equipment and more.</p>
      
            <p class="lead">
                <a class="btn btn-success btn-lg" href="/cameras/all" role="button">Shop Now</a>
            </p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="jumbotron">
            <h1 class="display-4">Sellers</h1>
            <p class="lead">Here you can find all of our sellers with their products.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="sellers/all" role="button">View Sellers</a>
            </p>
        </div>
    </div></div>